body {
    background-color: rgb(57, 57, 57);
    margin: 0px;
}

/* navigation bar */
  #navbar {
    display: flex;
    align-items: center;
    background-color: rgb(57, 57, 57);
    justify-content: space-between;
    
    height: 80px;
    width: 100%;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    
}
#part1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    display: flex;
    background-color: white;
    height: 28px;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: 291px;
}
#select,#input,#searchopotion{
    padding: 0;
    height: 30px;
    border-width: 2px;
}
#select{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#searchoption p{
    margin-left: 7px;
    margin-right: 6px;
    font-size: 12px;
}
#searchoption p a{
    text-decoration: none;
    color: black;
    height: 30px;
}
#input{
    height: 27px;

}
#navbar #items ul {
    display: flex
    
}

#logo {
    height: 62.5;
    width: 125;

}

.items {
    text-align: center;
    
}

#navbar ul li {
    font-size: 1.2rem;
    list-style: none;
}

#navbar ul li a {
    color: white;
    display: block;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
    
}
#navbar ul li a:hover {
    color: rgb(83, 83, 83);
    background-color: white;
}
/* services */
#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#services h3{
    color: white;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
}
#services .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    margin-bottom: 30px;
    
}
#services .content .sevrice{
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
}
#r{
    margin-left: 20px;
}
#s{
    margin-right: 20px;
}
#services .content .sevrice #a{
    background-image: url(service1.png);
    height: 200px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#services .content .sevrice #b{
    background-image: url(service2.png);
    height: 200px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#services .content .sevrice #c{
    background-image: url(service3.png);
    height: 200px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#services .content p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#services .content .sevrice .heading{
    border-bottom: 2px solid white;
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 22px;
}
#services .content .sevrice .ordernow{
    background-color: white;
    width: 100px;
    border-radius: 4px;
    justify-content: center;
    display: flex;
    height: 20px;
}
#services .content .sevrice .ordernow a{
    color: black;
    text-decoration: none;
}
#contactinfo{
    display:flex;
    justify-content: space-between;
    background-color: white;
    height:350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#contactinfo #adress{
    margin-left: 90px;
    margin-top: 45px;
}
#contactinfo #socialmedia{
    
    margin-top: 100px;
}
#contactinfo #log{
    margin-right: 90px;
    margin-top: 130px;
}
#contactinfo #adress #d{
    font-size: 40px;
    margin-bottom: 24px;
}
#k,#l,#m{
    font-size: 15px;
    margin-top: 5px;

}
#j,#k,#l,#m{
    margin-bottom: 0px;
}
#h,#j{
    margin-top: 10px;
}
#i{
    margin: 0;
}
#h{
    margin-bottom: 8px;
}
#q{
    color: white;
    background-color: black;
    margin-left: 20px;
    font-size: 20px;
    height:30px;
    width:85px;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
#p{
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 38px ;
}
#o{
    display: flex;

} 
@media only screen and (max-width: 1103px)
{
    #services .content .sevrice #a{
        background-image: url(service1.png);
        height: 200px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #services .content .sevrice #b{
        background-image: url(service2.png);
        height: 200px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #services .content .sevrice #c{
        background-image: url(service3.png);
        height: 200px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
@media only screen and (max-width: 1044px)
{
    #navbar{
        height: 168px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    #navbar ul li a{
        padding: 3px 12px;
    }
    #part1{
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
        width:100%;
    }
    
    #about #info h2,#about #info p{
        width:100%;
        margin-left: 10px;
        padding: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 1041px)
{
    #services .content .sevrice #c,#services .content .sevrice #b,#services .content .sevrice #a{
        width:100%
    }
}
@media only screen and (max-width: 871px)
{
    #services .content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    #services .content .sevrice{
        background-color: white;
        margin:0;
        width: 340px;
    }
    #r{
        margin:0;
    }
    #s{
        margin: 0;
    }
    #services .content p{
        color: black;

    }
    #services .content .sevrice .heading{
        border-bottom: 2px solid black;
    }
    #services .content .sevrice .ordernow{
        background-color: black;
    }
    #services .content .sevrice .ordernow a{
        color: white;
    }
    #services .content .sevrice{
        margin-bottom: 15px;
    }
    #contactinfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #contactinfo #log{
        margin-right: 20px;
    
    }
    #contactinfo #adress{
        margin-left: 20px;
    }


}
@media only screen and (max-width: 642px)
{
    #contactinfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 580px;
    }
    #contactinfo #adress,#contactinfo #socialmedia,#contactinfo #log{
        margin: 0;
        margin-top: 20px;
    }
    #contactinfo #log{
        margin-left: 66px;
    }

}
@media only screen and (max-width: 540px)
{
    #part1{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    #navbar{
        height: inherit;
    }
    #navbar #part1 #search #searchoption p{
        background-color: white;
        color: black;
        border-radius: 2px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

    
    }
    #navbar #part1 #search #searchoption p a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}